# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Models
outputs/models/
*.pkl

# Logs
outputs/logs/

# Datasets
datasets/
*.csv
*.zip

# Results (optional)
results/*.csv
results/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db